mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.inner-block--head
				+b.section-title
					p.mb-5.strong Обо мне
					h2 Станислав Добровский
					ul
						li Частный трейдер, торгую с 2006 года.
						li Практикующий психолог, понимаю психологию трейдинга.
						li Самостоятельно пришел к способу находить акции с высокой волатильностью, которые будут падать в цене именно сегодня.
						li Ежедневно публично выкладываю акции с потенциалом на падение.
						li Достиг своей главной цели в трейдинге – каждый день получать прибыль, торгуя в спокойном и вальяжном режиме.
					+img("img/about-img.png")
			mixin tr(t)
				tr
					td
						h4!= t
					td
							block
			table
				+tr(`Мой 20-летний опыт в трейдинге не всегда был успешен`)
					+e.inner
						p Я пробовал разные рынки и десятки торговых стратегий. Не всегда понимал, что делаю. Еще больше не понимал, как оценивать полученный результат, будь то прибыль или очередные убытки.

						p Периодически бросал и уходил в бизнес. Доводил предприятие до прибыльности. Потом рутина: закупки, проверки, контроль сотрудников... Становилось скучно. Продавал очередное предприятие и возвращался в трейдинг.

						p: strong Один раз стало скучно совсем. Решил больше не возвращаться в бизнес, пока не достигну амбициозной цели в трейдинге.
				+tr(`Поставил себе задачу  делать +30% в месяц`)
					+e.inner
						p Возможность делать такую прибыль нашел быстро. Но оставалась проблема выстроить рабочую систему, т.к. нужно было контролировать много параметров. 
			+e.inner-block.text-center
				.h4 В 2020 году многочисленные эксперименты и опыт сложились в 3-шаговую стратегию 
					br 
					| «Точка входа», простую, с понятным входом в сделку и понятным выходом. 
				.h2.text-primary И ДАЕТ БОЛЕЕ 30% в месяц.
			table
				+tr(`Но у этой системы была другая проблема`)
					+e.inner Нужно было поймать импульс, который возникает буквально в течение одной минуты. Это нервы, постоянный контроль торгового терминала, отсутствие возможности даже отвести взгляд от графика. На принятие решения и открытие сделки в системе «Точка входа» было всего несколько секунд. Нужно ли говорить про уровень стресса, который накапливался при такой торговле?
			+e.inner-block.text-center
				.h4 В 2024 году я, наконец, решил проблему стресса в трейдинге.

				.h3.text-primary 	Я нашел способ каждый день находить акции, которые ведут себя уникальным способом. Они медленно подают большую часть торговой сессии.

				.h4 Торговля в шорт на этих акциях – настоящее удовольствие! Это лучший способ зарабатывать деньги в трейдинге, из всех, которые я знаю!
			table
				+tr(`Это спокойная размеренная торговля, без стресса, в ленивом режиме. `)
					+e.inner В таком режиме я могу торговать в любое время, когда я захочу. Я могу пропустить вход в сделку, войти в нее позже и заработать деньги.
			+e.inner-block.text-center
				.h3.text-primary И да, эта торговая система уверенно приносит 
					br
					| более 30% в месяц.

				.h4 Если Вы читаете эти строки, наверняка Вы тоже ищете способ делать  в трейдинге +30% в месяц.
				p.text-start А если Вы уже пробовали торговать на реальном рынке, Вы наверняка понимаете ценность спокойной и размеренной торговли, прощающей ошибки и невнимательность. Именно за этой ценностью многие трейдеры уходят в пассивные инвестиции. Только там они не могут получить доходность, сравнимую с трейдингом.
			table
				+tr(`Очень трудно найти способ заработка, сочетающий в себе оба параметра: высокую доходность и спокойный стиль торговли.`)
					+e.inner
						p Можете попробовать поискать похожий способ заработка самостоятельно. Уверен, если Вы проявите достаточно упорства, Вы его найдете. Только ради  спокойствия и высокой доходности Вам придется потратить много нервов, денег и времени. Такой вот парадокс.

						p Чтобы сэкономить нервные клетки, заработанные деньги и выиграть время, Вы можете повторить уже пройденный мной опыт. Все 3 этих ресурса не восстанавливаются. Вы их можете либо сохранить, либо потратить навсегда. Выбор за Вами.
			+e.footer.text-center
				.h4 Мои ученики, каждый в&nbsp;свое время, выбрали воспользоваться моим опытом и&nbsp;сэкономить важнейшие жизненные ресурсы.
				p Сказать, что они очень довольны – мало. Вот что они пишут:
				+defSlider()
					- for (var i = 1; i < 16; i++) 
						//- +e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/st-review-${i}.png`): +img(`img/st-review-${i}.png`).res-i
						+e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/rew/img-${i}.png`)
							img(src=`img/rew/img-${i}.png` width="640" height="389" alt="").res-i 
				a.btn.btn-primary(href="#sForm") Присоединиться к команде успешных учеников
	// end sAbout